$primary-color: linear-gradient(165deg, rgba(56, 6, 7, 1) 0%,rgba(32, 26, 26, 1) 22%);
$secondary-color: rgb(122, 14, 14);
$tertiary-color: rgb(32, 26, 26);

$primary-font-color: #fff;
$secondary-font-color: rgba(255, 255, 255, .9);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lato', sans-serif;
$tertiary-font: 'Alegreya Sans', sans-serif;
